[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
private_key_file = ~/.ssh/id_rsa
remote_user = ec2-user

[ssh_connection]
ssh_args = -o ProxyCommand="ssh -W %h:%p ec2-user@$(head -n 2 inventory/hosts.ini | tail -n 1)"